:root {
  --third-color: #698474; 
}

body {
  background-color: #ffd3b6 !important;
}

h1, h2, h3 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h1 {
  text-align: center;
  color:var(--third-color) 
}
h3 {
  text-align: center;
}
button {
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ffaaa5;
  color: #fcf8f3;
  border: none;
}
.crochetBlanket, .embroideryhoop, .diamondart {
  margin: 60px 0;
}

@media (max-width: 400px ) {
  .crochetBlanket {
    width: 50%;
  }
  .diamondart {
    width: 50%;
  }
}
.about-me {
  text-align: center;
}
.fa {
  padding: 20px;
  margin: 20px 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: var(--third-color);
}

.email-link {
  text-decoration: none;
  color:var(--third-color) ;
}
.email-link:hover {
  color:#ffaaa5;
}
.img-fluid {
  margin: 100px 5px;
}